PreguntasYRespuestas/bin/Debug/net8.0/Azure.Core.dll
PreguntasYRespuestas/bin/Debug/net8.0/Azure.Identity.dll
PreguntasYRespuestas/bin/Debug/net8.0/Dapper.dll
PreguntasYRespuestas/bin/Debug/net8.0/dbup-core.dll
PreguntasYRespuestas/bin/Debug/net8.0/dbup-sqlserver.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.Azure.Services.AppAuthentication.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.Identity.Client.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
PreguntasYRespuestas/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
PreguntasYRespuestas/bin/Debug/net8.0/Newtonsoft.Json.dll
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.deps.json
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.dll
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.exe
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.pdb
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.runtimeconfig.json
PreguntasYRespuestas/bin/Debug/net8.0/PreguntasYRespuestas.staticwebassets.runtime.json
PreguntasYRespuestas/bin/Debug/net8.0/System.ClientModel.dll
PreguntasYRespuestas/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
PreguntasYRespuestas/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
PreguntasYRespuestas/bin/Debug/net8.0/System.Memory.Data.dll
PreguntasYRespuestas/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
PreguntasYRespuestas/wwwroot/lib/jquery-validation/dist/jquery.validate.js
PreguntasYRespuestas/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
PreguntasYRespuestas/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
PreguntasYRespuestas/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
PreguntasYRespuestas/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
PreguntasYRespuestas/wwwroot/lib/
PreguntasYRespuestas/obj/Debug/
PreguntasYRespuestas/bin/Debug/
PreguntasYRespuestas/.vs/
health-check/wwwroot/lib/
health-check/obj/Debug/
health-check/bin/Debug/
health-check/.vs/
WorldCities/.vs/
WorldCities/bin/Debug/
WorldCities/obj/Debug/
WorldCities/wwwroot/lib/
WorldCities/obj/
